
/* banner/hero section */
#banner{
    background-color: var(--dark-color);
    background-image:rgba(0, 0, 0, 0.176);
    color:var(--white-color);
    min-height: 90vh;
    padding: 20px 0
}

#banner .get-app{
    display: flex;
    margin: 30px 0;
}

#banner .get-app img{
   margin:10px;
    transition: 0.5s ease;
}
#banner .get-app img:hover{
  transform: scale(0.9)
}

#banner svg:not(.--icon){
    display: none
}

#banner 
.banner__content{
    display: flex;
    /* flex-wrap: wrap; */
    /* text-align: center; */
    /* flex-direction: column; */
align-items: center;
justify-content: space-between;
}

#banner 
.banner__content 
.__content_left {
    padding:150px 0 0 100px ;
}

#banner 
.banner__content 
.__content_left
.ratings {
   color: var(--gold-color);
}


#banner 
.banner__content 
.__content_left
.ratings > svg{
   padding: 0 0 0 10px;
   font-size: 50px;
    transition: .4s ease
}

#banner 
.banner__content 
.__content_left
.--icon:hover{
color:var(--pry-color);
    cursor: pointer;
    animation: shake 0.1s infinite linear;
}

@keyframes shake{
    0%{
        transform: rotate(10deg)
    }
    50%{
           transform: rotate(0deg)
}
        100%{
           transform: rotate(-10deg)
}
}

#banner 
.banner__content 
.__content_left h1{
    width: 700px;
    font-size: 4rem;
margin: 10px 0;
}

#banner 
.banner__content 
.__content_left p{
    font-size: 19px;
    width: 500px;
    line-height:2;
    padding: 10px 0;
}



#banner 
.banner__content 
.banner_main-img{
 width:800px
}


#banner 
.__content_left
div#get_started{
background-color: var(--white-color);
height: 30px;
max-width: 400px;
display: grid;
padding: 10px;
border-radius: 100px;
grid-template-columns:2fr 1fr;
border: 1px solid var(--no-color);
transition: var(--timing-ease);
}

#banner 
.__content_left
div#get_started.onerror{
border: 1px solid var(--error-color);
    }

#banner 
.__content_left
div#get_started
input{
border: none;
outline: none;
padding: 0 10px;
font-family: inherit;
}


#banner 
.__content_left
div#get_started
button{
font-weight: bold;
border: none;
transform: scale(1.2);
margin: 0 10px;
font-size: 10px;
outline: none;
border-radius: 100px;
font-family: inherit;
cursor: pointer;
background-color: var(--pry-color);
transition: var(--timing-ease);
box-shadow: var(--shadow-black);
}
#banner 
.__content_left
div#get_started
button.onerror{
background-color: var(--error-color);
color: var(--white-color);

}

#banner 
.__content_left
div#get_started
button:hover{
transform: scale(1);
}

#wave{
    width: 100%;
    transform: translateY(-15px);
   }


























@media screen and (max-width:1620px){

#banner 
.banner__content{
     flex-direction: column; 
    text-align: center
}
    svg #New-shape{
        display: none
    }
#banner 
.banner__content 
.__content_left {
    padding:150px 0;
}
#banner 
.banner__content 
.__content_left h1{
    width: 700px;
    font-size: 3.8rem;
margin: 10px auto;
}

#banner 
.banner__content 
.__content_left p{
    width: 700px;
    margin: 10px auto;
}


#banner 
.__content_left
div#get_started{
background-color: var(--white-color);
height: 30px;
max-width: 80%;
display: grid;
padding: 10px;
margin: 0 auto;
border-radius: 100px;
grid-template-columns:2fr 1fr;
border: 1px solid var(--no-color);
transition: var(--timing-ease);
}
    
    
}


/*jobs*/






#jobs
.jobs
.card:nth-child(1) .avatar{
/*    background-image: url('../img/avatar.svg');*/
}

#jobs
.jobs
.card:nth-child(2) .avatar{
/*    background-image: url('../img/avatar-2.svg');*/
}

#jobs
.jobs
.card:nth-child(3) .avatar{
/*    background-image: url('../img/avatar-3.svg');*/
}



#jobs
.cards
.card:hover{
transform: translateY(-10px);
cursor: pointer;
background: var(--pry-color);
}

#jobs
.cards
.card.active{
    transform: translateY(-10px);
    background: var(--pry-color);
}
#jobs
.cards
.card
.icon{
    position: absolute;
    top: -20%;
    left: -10px;
width: 30px;
height: 30px;
font-size: 22px;
padding: 15px;
margin: 5px;
border-radius: 200px;
cursor: pointer;
box-shadow:  0 0 17px rgba(0, 0, 0, 0.176);
background: var(--pry-color);
}
#jobs
.cards
.card:nth-child(even)
.icon{
    right: -10px;
    left: unset;

}


#jobs{
    position: relative;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content:center;
  padding: 10px 0px;
 
  /* overflow: hidden; */
}

#jobs .job-tags{
 margin: 0 20px;
 display: flex;
 flex-wrap: wrap
}
#jobs
.jobs{
    position: relative;
    width: 800px;
    max-width: 100%;
    padding: 20px 0;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex;
}


#jobs
.jobs::-webkit-scrollbar{
    opacity: 0;
}

#jobs
.jobs
.card{
    position: relative;
    height: 70px;
    user-select: none;
    margin: 20px ;
  
    opacity: .2;
    display: flex;
    align-items: center;
    background: #fff;
    transition: 0.4s ease-out;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.276);
}

#jobs
.jobs
.card.active{
opacity: 1;  
transform: translateY(-20px);
}

#jobs
.jobs
.card
.avatar{
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 40px;
    background-color:#eee ;

}

#jobs
.jobs
.profile_info >
.location{
font-size: 14px;
}

#jobs
.jobs
.profile_info >
.location > 
.--location{
margin: 0 6px;
}

#jobs
.jobs
.icon{
    --size:20px;
    margin: 0 10px;
    height: var(--size);
    width:var(--size);
    border-radius: var(--size);
    box-shadow: 0 0 10px var(--pry-color-shadow);
    padding: calc(var(--size) / 2);
    background: var(--pry-color);
}

#jobs
.text-info{
    width: 500px;
    max-width: 80%;
    padding: 0 10px;
}
.job-tags a{
 text-decoration: none;
 color: #000;
 font-size: 14px
}
.job-tags .btn{
 background: #fff;
 font-weight: normal;
 color: #000;
 padding: 19px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 transition: 0.4s;
 margin: 5px
}
.job-tags .btn:hover{
 background: var(--pry-color)
}







@media screen and (max-width:750px){
    
#banner 
.banner__content 
.__content_left h1{
    width: 97%;
    font-size: 3rem;
    padding: 0;
margin: 10px auto;
}

#banner 
.banner__content 
.__content_left p{
    width: 96%;
    margin: 10px auto;
}


#banner 
.__content_left
div#get_started{
background-color: var(--white-color);
height: 30px;
max-width: 80%;
display: grid;
padding: 10px;
margin: 0 auto;
border-radius: 100px;
grid-template-columns:2fr 1fr;
border: 1px solid var(--no-color);
transition: var(--timing-ease);
}
    
}


























