#header{
    position: fixed;
    top: 0;
    left: 50%;
    width: 90vw;
    transform: translateX(-50%);
    margin:16px auto;
/*    border-radius: 100px;*/
    text-align: center;
    height: var(--nav-height);
    z-index: 1;
    display: flex;
    justify-content: space-around;
        border-radius: 50px;    
    align-items: center;
    color: var(--white-color);
    background-color: rgba(0,0,0,0.99);
    transition: var(--timing-ease)
}


#header
#logo{
    color: inherit;
display: flex;
align-items: center;
font-weight: bold;
font-family: inherit;
margin: 20px;
font-size: 20px;
}


#header
#nav-links{
    display: flex;
    
    margin: 0 40px;
    list-style: none;
}

#header
#nav-links 
.link{
padding: 0 20px;
}


#header
#nav-links 
a{
text-decoration: none;
color: inherit;
font-size: 14px;
font-weight: 500;
padding: 6px;
transition: var(--timing-ease);
opacity: 1;
}


#header
#nav-links 
.a{
text-decoration: none;
color: inherit;
font-size: 14px;
font-weight: 500;
padding: 6px;
transition: var(--timing-ease);
opacity: 1;
}

#header
#nav-links 
a:hover:not(.active){
color: var(--pry-color);
opacity: 0.8;
}


#header
#nav-links 
a.active{
border-bottom: 1px solid var(--pry-color);
color: var(--pry-color);
}

#header
.cta-mobile  a{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#header
#cta{
/* display: none; */
}
#header
.cta-mobile{
display: none;
}
#header
#hamburger{
    display: none;
    cursor: pointer;
    transition: 0.5 ease;
}

#header
#hamburger >
div{
  position: sticky;
    z-index: 11;
margin: 4px;
border-radius: 10px;
background-color: var(--white-color);
height: 4px;
        transition: 0.5s ease !important;
width: 28px;
}


#header
#cta button.btn-active{
box-shadow:var(--shadow-black);
color: var(--dark-color);
}

#header
#cta button{
    border-radius: 100px;
    transition: var(--timing-ease);
    color: var(--white-color);
}

#header
#cta button:hover{
transform: scale(0.9);
}





/*media query*/

@media screen and (max-width:820px){
    #header.active{
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
            border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;    
    }

    
    #header
#nav-links{
    display: flex;
visibility: hidden;
    position: absolute;
top:var(--nav-height);
    background: rgba(0,0,0,0.9);
left: 0;
    transform: translateY(-1px);
    z-index: -1;
    text-align: left;
padding: 2px 0;
padding: 10px 0;
overflow-y: auto;
margin: 0px auto;
            -webkit-backdrop-filter:blur(15px); 
    backdrop-filter:blur(15px);
flex-direction: column;
    border-bottom-right-radius: 50px; 
    border-bottom-left-radius: 50px;    
width: 100%;
    height: auto;
    transition: 0.3s ease-out;
opacity: 0 ;
}


    #header
#nav-links.active{
    visibility: visible;
opacity: 1 ;
}


    #header
#nav-links
li{
opacity: 0;
transition: 0.4s ease-out
}


    #header
#nav-links.active
li:nth-child(1){
opacity: 1;
transition-delay: 0.4s
}


    #header
#nav-links.active
li:nth-child(2){
opacity: 1;
transition-delay: 0.8s
}


    #header
#nav-links.active
li:nth-child(3){
opacity: 1;
transition-delay: 1.2s
}

    #header
#nav-links
.li{
opacity: 0;
transition:opacity 0.4s ease-out
}

    #header
#nav-links.active
.li:nth-child(1){
opacity: 1;
transition-delay: 1.5s
}


    #header
#nav-links.active
.li:nth-child(2){
opacity: 1;
transition-delay: 2s
}







#header
#hamburger{
display: block;
}


#header
#hamburger.change 
.bar_1{
 transform: rotate(-45deg) translate(-6px, 9px);
 }

#header
#hamburger.change 
.bar_2{
opacity: 0
}

#header
#hamburger.change 
.bar_3{
   transform: rotate(45deg) translate(-2px, -5px);
}



#header
#cta{
display: none;
}
    #header
.cta-mobile
    button{
        margin: 0 30px;
}

#header
.cta-mobile{
display: block !important;
}

#header
#nav-links 
.link{
padding: 20px;
}

}

































