
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:  10px ;
            background: #fff;

}
.opaque{
    opacity: .5
}
.opaque a:hover{
    opacity: 1
}
.footer ul{
display: flex;
justify-content: center;
list-style: none;
}

.footer ul li{
padding:0 7px;
}

.footer ul a{
text-decoration: none;
color: var(--dark-color);
transition: var(--timing-ease);
}
.footer ul a:hover{
color:var(--pry-color);
cursor: pointer;
}
.footer .svg-inline--fa{
padding: 0 10px;
    height: 1.3rem;
    width: 1.2rem;
}



#footer{
padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
}

